@use '../../../theme/tokens' as *;

.container {
  width: 100%;
  max-width: $breakpoint-sm;
  min-height: 100vh;
  margin: 0 auto;
  background: $color-bg-page;
  position: relative;
}

.withNavbar {
  padding-top: $navbar-height;
}

.withTabbar {
  padding-bottom: calc(#{$tabbar-height} + #{$safe-area-bottom});
}

.withActionBar {
  padding-bottom: calc(#{$action-bar-height} + #{$safe-area-bottom});
}

.withActionBarAndTabbar {
  padding-bottom: calc(#{$action-bar-height} + #{$tabbar-height} + #{$safe-area-bottom});
}
